<h1> <%= name %> </h1>

<form action='/' method="POST">
    <div>
        <label for="mint">Mint Amount</label>
        <input type="mint" id="mint" name="mint">
    </div>
    
    <button name="button" value='1'>Mint</button>
    <button name="button" value='2'>Check Balance</button>

</form>
<a href="/view">Test</a>