<h1>Kayıt Olma Ekranı</h1>
<form action="/register" method="POST">

    <div>
        <label for="email">Kullanıcı Adı</label>
        <input type="text" id="email" name="email" required>
    </div>

    <div>
        <label for="password">Şifre</label>
        <input type="password" id="password" name="password" required>
    </div>

    <button type="submit">Kayıt Ol</button>
</form>

<a href="/login">Giriş Yapma Ekranı</a>